<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SleepOn - 회원가입</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
</head>
<body>
<header th:replace="~{layout/header :: header-basic}"></header>
<header th:replace="~{/layout/header :: header-banner}"></header>
<main>
    <section class="container my-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="formContainer">
                    <h2 class="text-center">Sing Up</h2>
                    <form id="registerForm" class="register">
                        <div class="registerFormGroup Score">
                            <label for="name">이름</label>
                            <input type="text" id="name" name="name" placeholder="이름을 입력하세요" required>
                        </div>
                        <div class="registerFormGroup Score">
                            <label for="email">이메일 주소</label>
                            <input type="email" id="email" name="id" placeholder="이메일을 입력하세요" required>
                        </div>
                        <div class="registerFormGroup Score">
                            <label for="password">비밀번호</label>
                            <input type="text" id="password" name="pass" placeholder="비밀번호를 입력하세요" required>
                        </div>
                        <div class="registerFormGroup Score">
                            <label for="confirmPassword">비밀번호 확인</label>
                            <input type="password" id="confirmPassword" placeholder="비밀번호를 다시 입력하세요" required>
                        </div>
                        <div class="registerFormGroup Score">
                            <label for="birthDate">생년월일</label>
                            <input type="date" id="birthDate" name="age" required>
                        </div>
                        <div class="registerFormGroup Score">
                            <label for="tel">전화번호</label>
                            <input type="tel" id="tel" name="tel" placeholder="전화번호를 입력하세요">
                        </div>
                        <button type="submit" class="BackRedBtn btn-block">회원가입</button>
                    </form>
                    <div class="text-center mt-3">
                        <a href="/SleepOn/login">이미 회원이신가요? 로그인</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 스크롤 버튼 -->
    <div id="scrollButtons">
        <button id="scrollToTop" class="scroll-btn"><i class="fa-solid fa-chevron-up"></i></button>
        <button id="scrollToBottom" class="scroll-btn"><i class="fa-solid fa-angle-down"></i></button>
    </div>
</main>
<footer th:replace="~{/layout/footer :: footer}"></footer>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#registerForm').on('submit', function (event) {
            event.preventDefault();
            var formData = $(this).serialize();

            if ($('#password').val() === $('#confirmPassword').val()) {
                $.ajax({
                    url: '/users/register',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        id: $('#email').val(),
                        pass: $('#password').val(),
                        name: $('#name').val(),
                        age: $('#birthDate').val(),
                        tel: $('#tel').val()
                    }),
                    success: function (response) {
                        alert(response);
                        window.location.href = '/SleepOn';
                    },
                    error: function (xhr, status, error) {
                        alert("회원가입 중 오류 발생: " + xhr.responseText);
                    }
                });
            }
            else{
                alert("입력하신 비밀번호가 다릅니다.");
                $('#confirmPassword').val("");
            }
        });

        // 페이지 로드 시 버튼 숨기기
        $('#scrollToTop').show();
        $('#scrollToBottom').show();

        // 맨 위로 스크롤
        $('#scrollToTop').click(function () {
            $('html, body').animate({scrollTop: 0}, 300); // 속도를 300 밀리초로 설정
        });

        // 맨 아래로 스크롤
        $('#scrollToBottom').click(function () {
            $('html, body').animate({scrollTop: $(document).height() - $(window).height()}, 300); // 속도를 300 밀리초로 설정
        });
    });
</script>
</body>
</html>
